@charset "utf-8";

body {
    background-color: #f5f5f5;
}

.swal2-popup.swal2-toast {
	padding: 20px;
    background-color: rgba(0,0,0,.8);
}

.swal2-popup.swal2-toast .swal2-title {
    font-size: 14px;
    color: #ffffff;
}

.footer {
	padding: 10px 0 80px 0;
	background-color: #f5f5f5;
}

.footer .navigation {
    text-align: center;
}

.footer .navigation a {
    color: #555;
}

.footer .copyright {
    margin-top: 10px;
    text-align: center;
    color: #555;
}
