@charset "utf-8";

/* ---------- Error ---------- */

div.error {
    margin-top: 10px;
}

div.error .main {
    margin: 0 auto;
    max-width: 1000px;
	height: 300px;
	padding: 10px 0 0 20px;
	background: url(../images/error.jpg) 0 0 no-repeat;
}

div.error .main dl {
    margin-bottom: 10px;
}

div.error .main dt {
	line-height: 40px;
	color: #fe6200;
	font-size: 20px;
	font-weight: bold;
}

div.error .main dd {
	line-height: 26px;
}