@charset "utf-8";

.col-xs-12 {
    padding: 10px 10px;
}

form>div {
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 12px;
    margin-bottom: 10px;
}

form .form-group {
    margin-bottom: 10px;
}

.requiredField {
    color: #ef0101;
}

.product {
    display: flex;
    display: -webkit-flex;
}

.product .image {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.product .image img {
    width: 92px;
    height: 92px;
}

.product .name {
    flex-grow: 4;
    -webkit-flex-grow: 4;
    padding: 0 10px;
}

.product .subTotal {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    text-align: right;
}

.product .subTotal span {
    display: block;
}

#invoiceTitleTr {
    padding-top: 10px;
}

.statistic {
    text-align: right;
    list-style: none;
}

.statistic ul {
    list-style: none;
}

#amountPayable {
    color: #ef0101;
}

.navbar-fixed-bottom {
    background-color: #ffffff;
}

.navbar-fixed-bottom .btn-danger {
    float: right;
    width: 50%;
    height: 50px;
    border-radius: unset;
    border-color: #FF0036;
    background-color: #FF0036;
}

.jumbotron {
    background-color: #ffffff;
}